<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Admin Route" stopProcessing="true">
          <match url="^admin/?$" />
          <action type="Rewrite" url="admin/login.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>